@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f0f2f5;
}
main {
  min-height: 70vh;
}

section {
  margin-top: 60px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

input, button, textarea {
  outline: none;
}

ul,ol {
  list-style: none;
}


form {
  grid-area: aside;
  height: 150%;
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: sticky;
  top: 100px;
  left: 0px;
}
form input {
  width: 100%;
  padding: 10px 30px;
  background: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2666666667);
  border-radius: 15px;
}
form button {
  width: 100%;
  padding: 10px 30px;
  background: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2666666667);
  border-radius: 15px;
}