.categories {
  display: grid;
  grid-template-areas: 
  "girl girl korean-girl"
  "bag cosmetics korean-girl";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  .card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #0002;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    img {
      margin: 0 auto;
    }
    .info {
      width: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      p {
        font-size: 20px;
        font-weight: 300;
      }
      h3 {
        font-size: 24px;
        font-weight: 500;
      }
      button {
        width: 100%;
        background: #000;
        border: 1px solid #000;
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
          background: #fff;
          color: #000;
        }
      
      }
    }
    &:nth-child(1) {
      grid-area: girl;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 300px;
      }
    }
    &:nth-child(2) {
      grid-area: bag;
      img {
        width: 200px;
      }
    }
    &:nth-child(3) {
      grid-area: cosmetics;
      img {
        width: 200px;
      }
    }
    &:nth-child(4) {
      grid-area: korean-girl;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}

.best_sellers {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .title {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .card {
    border-radius: 5px;
    box-shadow: 1px 1px 5px #0002;
    background: #fff;
    text-align: center;
    img {
      width: 175px;
      height: 200px;
    }
    .description {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3 {
        font-size: 24px;
        font-weight: 500;
      }
      p {
        font-size: 20px;
        font-weight: 300;
      }
      button {
        width: 100%;
        background: #000;
        border: 1px solid #000;
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
  }
}
.instagram {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .title {
    text-align: center;
    font-size: 22px;
  }
  .content {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    img {
      cursor: pointer;
      transition: all .3s ease-in-out;
      position: relative;
      width: 175px;
      &:hover {
        opacity: .7;
      }
    }
  }
}

.swiper {
  max-width: 1000px;
  width: 100%;
}

.cart_content {
  position: relative;
  .modal {
    border: 1px solid #000;
    background: #fff;
    position: absolute;
    display: flex;
    top: 10px;
    right: 0;
    width: 300px;
    z-index: 99;
    padding: 20px;
    .header {
      display: flex;
      width: 100%;
      button {
        margin-left: auto;
        cursor: pointer;
      }
    }
    .content {

    }
  }
}
@media (max-width: 1200px) {
  .categories {
    max-width: 1000px;
  } 
  .best_sellers {
    .card {
      img {
        width: 150px;
        height: 175px;
      }
    
    }
  }
  .instagram {

  }
  .cart_content {
  }
}
@media (max-width: 768px) {
  .categories {
    max-width: 670px;
    grid-template-areas: 
    "girl girl"
    "bag cosmetics";
    grid-template-columns: 1fr 1fr;
    .card {
      &:nth-child(4) {
        display: none;
      }
    }
  } 
  .best_sellers {
  }
  .instagram {
    .content {
      img {
        width: 80px;
      }
    }
  }
  .swiper {
  } 
  .cart_content {
  }
}
@media (max-width: 500px) {
  .categories {
    display: flex;
    flex-direction: column;
    .card {
      display: flex;
      flex-direction: column !important;
      img {
        width: 200px !important;
      }
    }
  }
}
