.categories {
  display: grid;
  grid-template-areas: "girl girl korean-girl" "bag cosmetics korean-girl";
  grid-template-columns: 370px 370px 370px;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.categories .card {
  background: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.categories .card img {
  margin: 0 auto;
}
.categories .card .info {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.categories .card .info p {
  font-size: 20px;
  font-weight: 300;
}
.categories .card .info h3 {
  font-size: 24px;
  font-weight: 500;
}
.categories .card .info button {
  width: 100%;
  background: #000;
  border: 1px solid #000;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.categories .card .info button:hover {
  background: #fff;
  color: #000;
}
.categories .card:nth-child(1) {
  grid-area: girl;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.categories .card:nth-child(1) img {
  width: 300px;
}
.categories .card:nth-child(2) {
  grid-area: bag;
}
.categories .card:nth-child(2) img {
  width: 200px;
}
.categories .card:nth-child(3) {
  grid-area: cosmetics;
}
.categories .card:nth-child(3) img {
  width: 200px;
}
.categories .card:nth-child(4) {
  grid-area: korean-girl;
  overflow: hidden;
}
.categories .card:nth-child(4) img {
  width: 100%;
}

.best_sellers {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.best_sellers .title {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.best_sellers .card {
  background: #fff;
  text-align: center;
}
.best_sellers .card img {
  width: 175px;
  height: 200px;
}
.best_sellers .card .description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.best_sellers .card .description h3 {
  font-size: 24px;
  font-weight: 500;
}
.best_sellers .card .description p {
  font-size: 20px;
  font-weight: 300;
}
.best_sellers .card .description button {
  width: 100%;
  background: #000;
  border: 1px solid #000;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.best_sellers .card .description button:hover {
  background: #fff;
  color: #000;
}

.instagram {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.instagram .title {
  text-align: center;
  font-size: 22px;
}
.instagram .content {
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
.instagram .content img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  width: 175px;
}
.instagram .content img:hover {
  opacity: 0.7;
}

.swiper {
  width: 1000px;
}

.cart_content {
  position: relative;
}
.cart_content .modal {
  border: 1px solid #000;
  background: #fff;
  position: absolute;
  display: flex;
  top: 10px;
  right: 0;
  width: 300px;
  z-index: 99;
  padding: 20px;
}
.cart_content .modal .header {
  display: flex;
  width: 100%;
}
.cart_content .modal .header button {
  margin-left: auto;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */