.page .wrapper {
  display: flex;
  margin: 60px 0;
  position: relative;
  justify-content: space-between;
  padding: 20px 50px;
  gap: 20px;
}
.page section {
  margin: 0 !important;
}
.page form {
  grid-area: aside;
  height: 150%;
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: sticky;
  top: 100px;
  left: 0px;
}
.page form input {
  width: 100%;
  padding: 10px 30px;
  background: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2666666667);
  border-radius: 15px;
}
.page form button {
  width: 100%;
  padding: 10px 30px;
  background: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2666666667);
  border-radius: 15px;
}
.page .shoes {
  grid-area: content;
  max-width: 1100px;
  margin-left: auto;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  align-items: center;
  gap: 10px;
}
.page .shoes .shoe {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 400px;
  padding: 20px 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2666666667);
  border-radius: 15px;
}
.page .shoes .shoe img {
  width: 100%;
  background: #fff;
  height: 320px;
  border-radius: 15px 15px;
}
.page .shoes .shoe h3 {
  line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.page .shoes .shoe button {
  width: 100%;
  padding: 10px 40px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.page .shoes .shoe button:hover {
  background: #000;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .page .shoes {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 1000px) {
  .page .shoes {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 800px) {
  .page .wrapper {
    display: flex;
    flex-direction: column;
  }
  .page form {
    max-width: 700px;
    width: 100%;
    position: static;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .page .shoes {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .page .shoes .shoe {
    min-height: 300px;
  }
  .page .shoes .shoe img {
    height: 220px;
  }
}
@media screen and (max-width: 500px) {
  .page form {
    max-width: 700px;
    width: 100%;
    position: static;
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .page .shoes {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .page .shoes .shoe {
    min-height: 300px;
  }
  .page .shoes .shoe img {
    height: 220px;
  }
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-content .close:hover, .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content #formUpdate {
  display: flex;
  flex-direction: column;
}
.modal-content #formUpdate input,
.modal-content #formUpdate select,
.modal-content #formUpdate button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.modal-content #formUpdate button {
  width: 100%;
  background: #000;
  border: 1px solid #000;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.modal-content #formUpdate button:hover {
  background: #fff;
  color: #000;
}

.form {
  max-width: 500px;
  width: 100%;
  margin: 150px auto;
}
.form h1 {
  text-align: center;
}
.form form {
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */